In [1]:
import pandas as pd
df=pd.DataFrame({"date":['1/1/2021','1/2/2021','1/3/2021','1/4/2021','1/5/2021','1/1/2021','1/2/2021','1/3/2021','1/4/2021','1/5/2021'],"item_name":["bracelet","bracelet","bracelet","bracelet","bracelet","earring","earring","earring","earring","earring"],"quantity_sold":[1,2,3,4,5,100,200,300,400,500]})
df['date']=pd.to_datetime(df['date'])
display(df)
#sort on the right fields before the calculation
df=df.sort_values(['date','item_name'])
#sum of quantity for last 3 days (curr_day-2,curr_day-1,curr_day)
display(df.set_index("date").groupby("item_name").rolling(3).agg('sum'))
# #sum of quantity for previous 3 days (curr_day-3,curr_day-2,curr_day-1)
display(df.set_index("date").groupby("item_name").rolling(3).agg('sum').groupby("item_name").shift(1))

        date item_name  quantity_sold
0 2021-01-01  bracelet              1
1 2021-01-02  bracelet              2
2 2021-01-03  bracelet              3
3 2021-01-04  bracelet              4
4 2021-01-05  bracelet              5
5 2021-01-01   earring            100
6 2021-01-02   earring            200
7 2021-01-03   earring            300
8 2021-01-04   earring            400
9 2021-01-05   earring            500

                      quantity_sold
item_name date
bracelet  2021-01-01            NaN
          2021-01-02            NaN
          2021-01-03            6.0
          2021-01-04            9.0
          2021-01-05           12.0
earring   2021-01-01            NaN
          2021-01-02            NaN
          2021-01-03          600.0
          2021-01-04          900.0
          2021-01-05         1200.0

                      quantity_sold
item_name date
bracelet  2021-01-01            NaN
          2021-01-02            NaN
          2021-01-03            NaN
          2021-01-04            6.0
          2021-01-05            9.0
earring   2021-01-01            NaN
          2021-01-02            NaN
          2021-01-03            NaN
          2021-01-04          600.0
          2021-01-05          900.0